@font-face {
	font-family: "Mont-ExtraLight";
	src: url("Mont-ExtraLightDEMO.otf");
}



@keyframes buttonHover {
	from {background-color: rgba(23,25,26,.6);color:#B6B6B6;}
	to {background-color: #829eff;color:white;}
}
@keyframes buttonNoHover {
	from {background-color:#829eff ;color:white;}
	to {background-color:rgba(23,25,26,.6) ;color:#B6B6B6;}
}






@keyframes slideInFromLeft {
	0% {
	  transform: translateX(-400%);opacity: 0%;
	}
	100% {
	  transform: translateX(0);opacity: 100%;
	}
}


body{
	background-color: #232627; 
	background-image: url(motif.png);
	background-size: 50%;
	padding:75px;
	text-align : left;
	font-family: 'Mont-ExtraLight', sans-serif;
    margin: 0px;
    padding: 0px;


}



header{
	padding-right:2vw;
	display: grid;
	background: rgba(23,25,26,.6);
	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 8vw 10vw;
	opacity: 80%;
	
}


img.picReset{
	padding-right: 10vw;
	width:30%;
	height:30%;
	float: right;
	animation: 1.3s ease-out 0s 1 slideInFromLeft;
}


img.pdpBot{
	float: left;
	padding: 10px;
	border-radius: 50%;
	width:5vw;
	height:5vw;
}




.nomBot{
	padding: 10px;
	color : #B6B6B6;
	animation-name: buttonNoHover;
	animation-duration: 0.5s;
	font-size: 1vw;
}



.menuLien{
	margin-top: 35px;
	padding: 10px;
	color : #B6B6B6;
	animation-name: buttonNoHover;
	animation-duration: 0.5s;
	background: rgba(23,25,26,.6);
	font-size: 2vw;
	
}

.menuLien:hover{
	color : white;
	animation-name: buttonHover;
	animation-duration: 0.5s;
	background-color:#829eff ;
}

.messagePrincipal{
  	white-space: nowrap;
  	overflow: hidden;    
	color: #B6B6B6;
	margin: 20px;
	grid-column: 1/4;
	font-size: 3vw;
	font-family: 'Helvetica', sans-serif;
}






/*
.fond{
	z-index: -1;
	grid-column: 1/5;
	background-color: #42494e;
	height: 1000px;
    display: flex;
    justify-content: space-between;
	align-items: flex-end;
    box-shadow: 0px 4px 4px #1c1a19;
	border-radius: 10px;
	opacity: 25%;
}
*/